.action{
    padding: 50px;
}

.noDots{
    list-style: none;
}

.info {
    padding: 10px 0;
    font-family: 'PT Sans', 'Arial';
}

.info span {
    font-size: 13px;
}

.info a {
    font-size: 13px;
    color: #47b8f0;
}

.info i {
    font-size: 13px;
    font-style: normal;
    display: inline-block;
    padding-left: 10px;
}

.img {
    padding: 10px 0;
}

.content p {
    font-family: 'PT Sans', 'Arial';
    font-size: 15px;
    line-height: 24px;
    min-height: 16px;
    margin: 0!important;
    padding: 0;
}

.content p a {
    color: #47b8f0;
    font-weight: bold;
}

.content ul {
    padding: 10px 0 10px 35px;
}

.table {
    padding: 10px 0;
    display: flex;
    max-width: 760px;
}

.table .item {
    flex: 1;
    margin-right: 20px;
}

.table .item:last-child {
    margin-right: 0;
}

