.loader{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
}

.loader_popup{
    z-index: 21;
    position: absolute;
    background: #fff;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 200px;
    text-align: center;
    padding-top: 50px;
}

.hide{
    display: none;
}
.show{
    display: block;
}


.error{
    color: red;
}

.opacity{
    opacity: 0.2;
}

.process{
    text-align: center;
    margin-top: 120px;
}