.block {
    margin: auto;
    padding: 40px 0!important;
}

.block h2 {
    font-size: 36px;
    max-width: 760px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 30px 0;
}

.block h3 {
    max-width: 760px;
    padding: 10px 0;
}

.block p {
    max-width: 760px;
    line-height: 24px;
    margin-bottom: 20px;
    font-size: 14px;
}

.block ul {
    padding: 10px 30px;
}

.block ul li {
    list-style: decimal!important;
    margin-bottom: 8px;
    font-size: 14px;
}

@media screen and (max-width: 1200px) {
    .block {
        padding: 60px 40px!important;
    }
}